<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>snapCollections.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88BD3BA21DD81E1A00237271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88BD3BB61DD81E1B00237271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88BD3BC11DD81E1B00237271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
